<h1>Editing Evaluation</h1>

<%= render 'form' %>

<%= button_to 'Show evaluation', @evaluation, method: :get, class: "btn btn-large btn-primary" %>
<%= button_to 'Back to evaluations list', evaluations_path, method: :get, class: "btn btn-large btn-primary" %>
