<p id="notice"><%= notice %></p>

<h1>Listing Evaluations</h1>

<table id="evaluations">
  <thead>
    <tr>
      <th>Rate</th>
      <th>Content</th>
      <th>Author</th>
      <th>Evaluationable type</th>
      <th>Evaluationable</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.rate %> / 5</td>
        <td><%= evaluation.content %></td>
        <td><% if logged_in? && (current_user.id == evaluation.evaluationable.id || current_user.admin?) %>
              <%= link_to evaluation.author_name, user_path(evaluation.user_id) %><% else %>
              <%= link_to evaluation.author_nickname, user_path(evaluation.user_id) %><% end %></td>
        <td><% if evaluation.evaluationable_type == 'Product' %><%= link_to evaluation.evaluationable_type, products_path %>
            <% else %><%= link_to evaluation.evaluationable_type, users_path %><% end %></td>
        <td><% if evaluation.evaluationable_type == 'Product' %><%= link_to evaluation.evaluationable.title,
               product_path(evaluation.evaluationable_id)%><% else %>
              <%= link_to evaluation.evaluationable.profile.first_name + ' ' + evaluation.evaluationable.profile.last_name,
               user_path(evaluation.evaluationable_id)%><% end %></td>
        <td><%= button_to 'Show evaluation', evaluation, method: :get, class: "btn btn-large btn-primary" %>
        <% if logged_in? && (current_user.id == evaluation.user_id || current_user.admin?) %>
        <%= button_to 'Edit evaluation', edit_evaluation_path(evaluation), method: :get, class: "btn btn-large btn-primary" %>
        <%= button_to 'Remove evaluation', evaluation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-large btn-primary" %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

