<h1>New Evaluation</h1>

<%= form_for @evaluation, :url => create_eval_path(@evaluationable.class.to_s, @evaluationable) do |f| %>
    <% if @evaluation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

          <ul>
            <% @evaluation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :rate %><br>
      <%= f.number_field :rate, :step => 0.1 %>
    </div>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :content, cols:50, rows:10 %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= button_to 'Back to evaluations list', evaluations_path, method: :get, class: "btn btn-large btn-primary" %>
