<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<table>
  <thead>
    <tr>
      <th>Sender name</th>
      <th>Receiver name</th>
      <th>Date</th>
      <th>Subject</th>
      <th>Content</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><% if current_user.admin? %><%= link_to message.sender_name, user_path(message.sender_id) %>
            <% else %><%= link_to message.sender_nickname, user_path(message.sender_id) %><% end %></td>
        <td><% if current_user.admin? %><%= link_to message.receiver_name, user_path(message.receiver_id) %>
              <% else %><%= link_to message.receiver_nickname, user_path(message.receiver_id) %><% end %></td>
        <td><%= message.created_at %></td>
        <td><%= message.subject %></td>
        <td><%= message.content %></td>
        <td><%= button_to 'Show message', message_path(message), method: :get %>
            <% if User.where(:id => message.sender_id) != [] %>
              <%= button_to 'respond message', message_respond_path(message.sender_id), method: :get %>
            <% else %>  
              <p>Sender does not exist anymore.</p>
            <% end %>
            <%= button_to 'Remove message', message_destroy_path(message), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

