<h2>Deban account</h2>

<p>Dear <%= @user.profile.first_name %> <%= @user.profile.last_name %> your account on myEbayApp has been debanned by the administrator.</p>

<p>See you soon, on myEbayApp !</p>