<h2>Welcome to myEbayApp <%= @user.profile.first_name %> <%= @user.profile.last_name %></h2>

<p>You can connect by using :</p>
<p>email: <strong><%= @user.email %></strong></p>
<p>password: <strong><%= @user.password %></strong></p>

<p>Think to fill your profile</p>

<p>See you soon, on myEbayApp !</p>
