<p id="notice"><%= notice %></p>

<h1>Search Page</h1>

<%= form_tag google_path, method: :get do  %>
    <div class="field">
      <%= label_tag :title %><br>
      <%= autocomplete_field_tag :title, '', products_path %>
    </div>
    <div class="field">
      <%= label_tag :category %><br>
      <%= autocomplete_field_tag :category, '', categories_path %>
    </div>
    <div class="field">
      <%= label_tag :maximum_bid %><br>
      <%= number_field_tag :maximum_bid %>
    </div>
    <div class="field">
      <%= label_tag :minimum_bid %><br>
      <%= number_field_tag :minimum_bid %>
    </div>
    <div class="field">
      <%= label_tag :minimum_immediate_price %><br>
      <%= number_field_tag :min_immediate_price %>
    </div>
    <div class="field">
      <%= label_tag :maximum_immediate_price %><br>
      <%= number_field_tag :max_immediate_price %>
    </div>
    <div class="field">
      <%= label_tag :maximum_date_bidding_end %><br>
      <%= date_field_tag :max_date_bidding_end %>
    </div>
    <div class="field">
      <%= label_tag :minimum_date_bidding_end %><br>
      <%= date_field_tag :min_date_bidding_end %>
    </div>
    <div class="field">
      <%= label_tag :maximum_date_bidding_start %><br>
      <%= date_field_tag :max_date_bidding_start %>
    </div>
    <div class="field">
      <%= label_tag :minimum_date_bidding_start %><br>
      <%= date_field_tag :min_date_bidding_start %>
    </div>
    <%= submit_tag 'Go google', class: "btn btn-large btn-primary" %>
    </div>
<% end %>