<% provide(:title, "Log in") %>
<p id="notice"><%= notice %></p>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= link_to '(forgot password)', new_password_reset_path %>
        <%= f.password_field :password_digest, class: 'form-control' %><br>

        <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <div>Remember me</div>
        <% end %><br>

        <%= f.submit "Log in", class: "btn btn-large btn-primary"%>
    <% end %>
    <p>OR</p>
    <%= link_to "Login Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-large btn-primary" %>

    <p>New user? <%= button_to "Register now!", new_user_path, method: :get, class: "btn btn-large btn-primary" %></p>
  </div>
</div>
