<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <% if @user.profile.image.url != nil %>
     <div id="img"><%= image_tag @user.profile.image.url.to_s %></div>
  <% else %>empty
  <% end %>
</p>

<% if logged_in? && (current_user.admin? || current_user.id == @user.id) %>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>First name:</strong>
      <%= @user.profile.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @user.profile.last_name %>
    </p>

    <p>
      <strong>Adress:</strong>
      <%= @user.profile.street_number %>, <%= @user.profile.street_name %>, <%= @user.profile.postcode %>,
      <%= @user.profile.city %>, <%= @user.profile.country %>
    </p>
<% end %>

<p>
  <strong>Nickname:</strong>
  <%= @user.profile.nickname %>
</p>

<% if logged_in? && (current_user.admin? || current_user.id == @user.id) %>

    <p>
      <strong>My auctions:</strong>
      <% if @user.bids.length != 0 %>
        <button id="auction">Hide auctions</button>
        <ul id="auctions">
          <% @user.my_bids_in_progress(@user).each do |product_id, product_title| %>
              <li><%= link_to product_title, product_path(product_id) %> : winner is <%= @user.winner_or_not(product_id) %></li>
          <% end %>
        </ul>
      <% else %>No auction in progress
      <% end %>
    </p>

    <p>
      <strong>Products sold:</strong>
      <% if @products.length != 0 %>
        <button id="sell">Hide products sold</button>
        <ul id="sells">
          <% @products.each do |product| %>
              <li><%= link_to product.title, product_path(product.id)  %></li>
          <% end %>
        </ul>
    <% else %>
        empty
    <% end %>
    </p>

    <p>
      <strong>Products bought:</strong>
      <% if @user.purchases.length != 0 %>
        <button id="purchase">Hide products bought</button>
        <ul id="purchases">
          <% @user.purchases.each do |purchase| %>
              <li><%= link_to purchase.title, product_path(purchase.id) %></li>
          <% end %>
        </ul>
    <% else %>
        empty
    <% end %>
    </p>
<% end %>

<p>
  <strong>Products:</strong>
  <% if @user.products.length != 0 %>
  <button id="product">Hide products</button>
    <ul id="products">
      <% @user.products.each do |product| %>
          <li><%= link_to product.title, product_path(product.id) %><% if logged_in? && 
            (current_user.id == @user.id || current_user.admin?) %> : <%= product.status %><% end %></li>
      <% end %> 
    </ul>
<% else %>
    empty
<% end %>
</p>

<p>
  <strong>Views:</strong>
  <%= @user.views %>
</p>

<p>
  <strong>Rate:</strong>
  <% if @user.evaluations.length != 0 %>
      <% note = 0 %>
      <% @user.evaluations.each do |evaluation| %>
          <% note += evaluation.rate %>
      <% end %>
      <%= note.round(2) / @user.evaluations.length %> / 5
  <% else %>
      empty
  <% end %>
</p>

<p>
  <strong>Evaluations:</strong>
  <% if @user.evaluations.length != 0 %>
    <button id="evaluation">Hide evaluations</button>
    <ul id="evaluations">
      <% @user.evaluations.each do |evaluation| %>
          <li><strong>Author:</strong> <% if logged_in? && current_user.admin? %><%= link_to evaluation.author_name,
                                                                               user_path(evaluation.user_id) %>
                <% else %><%= link_to evaluation.author_nickname, user_path(evaluation.user_id) %>
            <% end %><strong>Note:</strong> <%= evaluation.rate %> / 5
            <strong> Comment:</strong> <%= evaluation.content %></li>
      <% end %>
    </ul>
<% else %>
    empty
<% end %>
</p>

<p>
  <strong>Ban:</strong>
  <%= @user.ban %>
</p>

<div id="fb-root"></div>
<div class="fb-share-button" data-layout="button_count" data-mobile-iframe="true"></div>

<% if logged_in? && current_user.id != @user.id %>
    <%= link_to 'Add evaluation', new_eval_path('User', @user), class: "btn btn-large btn-primary" %>
<% end %>
<% if logged_in? && (current_user.id == @user.id || current_user.admin?) %>
    <%= button_to 'Edit user', edit_profile_path(@user), method: :get, class: "btn btn-large btn-primary" %>
    <%= button_to 'Remove user', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-large btn-primary" %>
<% end %>
<%= button_to 'Back to users list', users_path, method: :get, class: "btn btn-large btn-primary" %>
<% if logged_in? && current_user.admin? && @user.ban == false %>
<%= button_to 'Ban user', user_ban_path(@user), class: "btn btn-large btn-primary" %>
<% elsif logged_in? && current_user.admin? && @user.ban == true %>
<%= button_to 'Deban user', user_deban_path(@user), class: "btn btn-large btn-primary" %>
<% end %>