<header>
  <% if logged_in? %>
    <nav class="navbar navbar-default" role="navigation"><%= link_to 'Logout', logout_path, method: :delete, class: "btn btn-large btn-primary" %><%= link_to 'Profile', current_user, class: "btn btn-large btn-primary" %><%= link_to 'Products', products_path, class: "btn btn-large btn-primary" %><%= link_to 'Users', users_path, class: "btn btn-large btn-primary" %><%= link_to 'Evaluations', evaluations_path, class: "btn btn-large btn-primary" %><%= link_to 'Categories', categories_path, class: "btn btn-large btn-primary" %><%= link_to 'Search Page', search_path, class: "btn btn-large btn-primary" %><%= link_to 'Archive', archive_path, class: "btn btn-large btn-primary" %><%= link_to 'Messages', messages_path, class: "btn btn-large btn-primary" %><%= link_to 'Webmaster', webmaster_path, class: "btn btn-large btn-primary" %><%= form_tag common_search_path do %><%= autocomplete_field_tag :title, '', products_path %><%= submit_tag 'Search product', class: "btn btn-large btn-primary" %><% end %></nav>
  <% else %>
    <nav class="navbar navbar-default" role="navigation"><%= link_to 'Login', login_path, class: "btn btn-large btn-primary" %><%= link_to 'Register', new_user_path, class: "btn btn-large btn-primary" %><%= link_to 'Products', products_path, class: "btn btn-large btn-primary" %><%= link_to 'Users', users_path, class: "btn btn-large btn-primary" %><%= link_to 'Evaluations', evaluations_path, class: "btn btn-large btn-primary" %><%= link_to 'Categories', categories_path, class: "btn btn-large btn-primary" %><%= link_to 'Search Page', search_path, class: "btn btn-large btn-primary" %><%= link_to 'Archive', archive_path, class: "btn btn-large btn-primary" %><%= link_to 'Webmaster', webmaster_path, class: "btn btn-large btn-primary" %><%= form_tag common_search_path do %><%= autocomplete_field_tag :title, '', products_path %><%= submit_tag 'Search product', class: "btn btn-large btn-primary" %><% end %></nav>
  <% end %>

  </header>