<h2>Congratulation <%= @bid.user.profile.first_name %> <%= @bid.user.profile.last_name %> your product has been sold !</h2>

<p>Time to pay your product :</p>

<%= link_to 'buy ' +  @bid.product.title, product_url(@product) %>

<p>See you soon, on myEbayApp !</p>