<h2>Congratulation <%= @product.user.profile.first_name %> <%= @product.user.profile.last_name %> your product has been valided !</h2>

<p>To see your product :</p>

<%= link_to @product.title, product_url(@product) %>

<p>See you soon, on myEbayApp !</p>