<h2>Sorry <%= @product.user.profile.first_name %> <%= @product.user.profile.last_name %> has not been valided !</h2>

<p>Your product <%= @product.title %> has not been valided do better next time.</p>

<p>See you soon, on myEbayApp !</p>