<h1>Editing Category</h1>

<%= render 'form' %>

<%= button_to 'Show', @category, method: :get, class: "btn btn-large btn-primary" %>
<%= button_to 'Back to categories list', categories_path, method: :get, class: "btn btn-large btn-primary" %>
