<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table id="categories">
  <thead>
    <tr>
      <th>Name</th>
      <th>Product quantity</th>
      <th>Views</th>
      <th>Direct parent category</th>
      <th>Direct subcategory</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.get_products(category).length %></td>
        <td><%= category.views %></td>
        <td><% if category.category_id != nil %><%= link_to category.parent_category.name,
                                                            category_path(category.parent_category.id) %>
            <% else %>No parent category
            <% end %></td>
        <td><% if category.subcategories.length != 0 %>
            <%= raw(category.subcategories.map{|sub| link_to sub.name,category_path(sub.id)}.join(' | ')) %>
            <% else %>No subcategory
            <% end %></td>
        <td><%= button_to 'Show category', category, method: :get, class: "btn btn-large btn-primary" %>
            <% if logged_in? %>
            <%= button_to 'Add subcategory', new_child_category_path(category.id), class: "btn btn-large btn-primary" %><% end %>
            <% if logged_in? && current_user.admin? %>
            <%= button_to 'Edit category', edit_category_path(category), method: :get, class: "btn btn-large btn-primary" %>
            <%= button_to 'Remove category', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-large btn-primary" %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if logged_in? %>
<%= button_to 'New Parent category', new_category_path, method: :get, class: "btn btn-large btn-primary" %>
<% end %>