<h1>New Subcategory</h1>

<%= form_for @category,:url => create_child_category_path(params[:category_id]), :html => { :multipart => true } do |f| %>
    <% if @category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

          <ul>
            <% @category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.autocomplete_field :name, categories_path %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= button_to 'Back to category', category_path(params[:category_id]), method: :get, class: "btn btn-large btn-primary" %>