<%= form_for @product, :html => { :multipart => true } do |f| %>
<% if @product.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

  <ul>
    <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :immediate_price_optional %><br>
  <%= f.number_field :immediate_price, :step => 0.01 %>
</div>
<div class="field">
  <%= f.label :minimum_price_optional %><br>
  <%= f.number_field :minimum_price, :step => 0.01 %>
</div>
<div class="field">
  <%= f.label :minimum_bid %><br>
  <%= f.number_field :minimum_bid, :step => 0.01 %>
</div>
<div class="field">
  <%= f.label :start_price %><br>
  <%= f.number_field :start_price, :step => 0.01 %>
</div>
<div class="field">
  <%= f.label :title %><br>
  <%= f.autocomplete_field :title, products_path %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description, cols:50, rows:10 %>
</div>
<div class="field">
<p>(max size 300*300) main image</p>
  <%= f.label :image %><br>
  <%= f.file_field :image %>
</div>
  <div class="field">
  <p>(max size 300*300)</p>
  <%= f.label :image1 %><br>
  <%= f.file_field :image1 %>
  </div>
 <div class="field">
  <p>(max size 300*300)</p>
  <%= f.label :image2 %><br>
  <%= f.file_field :image2 %>
  </div>
 <div class="field">
  <p>(max size 300*300)</p>
  <%= f.label :image3 %><br>
  <%= f.file_field :image3 %>
  </div>
  <div class="field">
  <p>(max size 300*300)</p>
  <%= f.label :image4 %><br>
  <%= f.file_field :image4 %>
  </div>
<div class="field">
  <%= f.label :category %><br>
  <%= f.autocomplete_field :category_name, autocomplete_category_name_products_path %>
</div>
<% if current_user.admin? %>
<div class="field">
  <%= f.label :date_bidding_end %><br>
  <%= f.date_field :date_bidding_end %>
</div>
<div class="field">
  <%= f.label :date_bidding_start %><br>
  <%= f.date_field :date_bidding_start %>
</div>
<div class="field">
  <%= f.label :status %><br>
  <%= f.text_field :status %>
</div>
<% end %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
