<h1>Editing Product</h1>

<%= render 'form' %>

<%= button_to 'Show', @product, method: :get, class: "btn btn-large btn-primary" %>
<%= button_to 'Back to products', products_path, method: :get, class: "btn btn-large btn-primary" %>
