<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table id="products">
  <thead>
  <tr>
    <th>Owner</th>
    <th>Picture</th>
    <th>Immediate price</th>
    <th>Date bidding end</th>
    <th>Date bidding start</th>
    <th>Bidding time left</th>
    <th>Start price</th>
    <th>Minimum bid</th>
    <th>Bid</th>
    <th>Title</th>
    <th>Category</th>
    <th>Description</th>
    <th>Views</th>
    <th>Rate</th>
    <% if logged_in? && current_user.admin? %>
        <th>Status</th>
    <% end %>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <% if product.status == 'In selling' || (logged_in? && current_user.admin?) %>
          <tr>
            <td><% if logged_in? && current_user.admin? %><%= link_to product.user.profile.first_name + ' ' +
                                                          product.user.profile.last_name, user_path(product.user_id) %>
                  <% else %><%= link_to product.user.profile.nickname, user_path(product.user_id) %>
              <% end %></td>
            <td><% if product.image.url != nil %><div class="img"><%= image_tag product.image.url %></div>
              <% else %>empty
              <% end %></td>
            <td><% if product.immediate_price != nil %><%= product.immediate_price %> €
                  <% if logged_in? && product.status == 'In selling' && current_user.id != product.user_id %>
                      <%= button_to 'Purchase', purchase_path(product), method: :post, class: "btn btn-large btn-primary" %>
                  <% end %>
              <% else %>empty<% end %></td>
            <td><%= product.date_bidding_end %></td>
            <td><% if product.status == 'In selling' %><%= product.date_bidding_start %>
              <% else %>Product not confirm<% end %></td>
            <td><% if product.date_bidding_end - Time.now > 0 && product.status == 'In selling' %>
                  <%= distance_of_time_in_words(product.date_bidding_end - Time.now) %>
              <% else %>
                  Bid is over <% if product.status == 'unsold' %><% button_to 'Seven more days', more_days_path(product), class: "btn btn-large btn-primary" %>
                  <% end %>
              <% end %></td>
            <td><%= product.start_price %> €</td>
            <td><%= product.minimum_bid %> €</td>
            <td><% if product.bids.length == 0 %>
                  No bid
              <% else %>
                  <%= product.bid_in_progress(product) %> €
              <% end %>
              <% if logged_in? && Time.now < product.date_bidding_end && product.status == 'In selling' &&
                  product.user_id != current_user.id && (product.bids.length ==0 || product.bid_winner(product).user_id != current_user.id) %>
                  <%= form_tag new_minimum_bid_path(product.id) do %>
                      <%= submit_tag 'Add minimum bid', class: "btn btn-large btn-primary" %>
                  <% end %>
                  <%= form_tag new_custom_bid_path(product.id) do %>
                      <%= number_field_tag :bid, :step => 0.01 %>
                      <%= submit_tag 'Add custom bid', class: "btn btn-large btn-primary" %>
                  <% end %>
                  <%= form_tag new_max_automatic_bid_path(product.id) do %>
                      <%= number_field_tag :bid, :step => 0.01 %>
                      <%= submit_tag 'Add max automatic bid', class: "btn btn-large btn-primary" %>
                  <% end %>
              <% end %>
              <% if logged_in? && product.status == 'sold' && product.bid_winner(product).user_id == current_user.id %>
                  <%= button_to 'Pay ' + product.title, pay_path(product, product.bid_id(product)), method: :post, class: "btn btn-large btn-primary" %>
              <% end %>
              <% if logged_in? && product.bids.length != 0 && product.bid_winner(product).user_id == current_user.id &&
                  product.status =='In selling' %>This is your bid
              <% elsif logged_in? && product.user_id == current_user.id %>This is your product
              <% end %></td>
            <td><%= product.title %></td>
            <td><% if product.category_id != nil%>
                  <%= link_to product.category.name, category_path(product.category.id) %>
              <% else %>
                  empty
              <% end %></td>
            <td><%= product.description %></td>
            <td><%= product.views %></td>
            <td><% if product.evaluations.length != 0 %>
                  <% note = 0 %>
                  <% product.evaluations.each do |evaluation| %>
                      <% note += evaluation.rate %>
                  <% end %>
                  <%= note.round(2) / product.evaluations.length %> / 5
              <% else %>
                  empty
              <% end %></td>
            <% if logged_in? && current_user.admin? %>
                <td><%= product.status %>
                  <% if product.status == 'wait_confirmation' %>
                      <%= button_to 'Confirm', confirm_path(product.id), class: "btn btn-large btn-primary" %><%= button_to 'Not confirm', not_confirm_path(product.id), class: "btn btn-large btn-primary" %>
                  <% end %>
                </td>
            <% end %>
            <td><%= button_to 'Show product', product, method: :get, class: "btn btn-large btn-primary" %>
              <% if logged_in? &&(current_user.id != product.user_id || current_user.admin?) %>
                  <%= link_to 'Add evaluation', new_eval_path('Product', product.id), class: "btn btn-large btn-primary" %>
              <% end %>
              <% if logged_in? && current_user.id != product.user_id %>    
                  <%= button_to 'Ask question' , message_new_path(product.user_id), method: :get, class: "btn btn-large btn-primary" %>
              <% end %>
              <% if logged_in? && ((current_user.id == product.user_id && product.bids.length == 0 &&
                  product.date_bidding_end > Time.now ) || current_user.admin?) %>
                  <%= button_to 'Edit product', edit_product_path(product), method: :get, class: "btn btn-large btn-primary" %>
                  <%= button_to 'Remove product', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-large btn-primary" %><% end %></td>
          </tr>
      <% end %>
  <% end %>
  <p>Average bidding amount:<strong><% @products = @products.select {|product| product if (product.status == 'In selling')}
                                          average = 0
                                          length = @products.length
                                          if length != 0
                                          @products.each do |product|
                                            average += product.bid_in_progress(product).to_i
                                            end
                                          @average = average / length
                                          end
                                      %><% if @average != nil %><%= @average %><% else %>Empty<% end %></strong></p>
  </tbody>
</table>

<br>

<% if logged_in? %>
    <%= button_to 'New Product', new_product_path, method: :get, class: "btn btn-large btn-primary" %>
<% end %>