<p id="notice"><%= notice %></p>

<% if logged_in? && current_user.admin? %>
    <p>
      <strong>Owner:</strong>
      <%= link_to @product.user.profile.first_name + ' ' + @product.user.profile.last_name, user_path(@product.user_id) %>
    </p>
<% end %>

<p>
  <strong>Owner:</strong>
  <%= link_to @product.user.profile.nickname, user_path(@product.user_id) %>
</p>

<p>
  <strong>Main picture:</strong>
  <% if @product.image.url != nil %>
     <div id="img"><%= image_tag @product.image.url.to_s %></div>
  <% else %>empty
  <% end %>
</p>

<% if @product.image1.url != nil && @product.image2.url != nil && @product.image3.url != nil && @product.image4.url != nil %>
<p>
  <strong>Gallery:</strong>
  <% if @product.image1.url != nil %>
      <div class="img"><%= image_tag @product.image1.url.to_s %></div><br>
  <% end %>
  <% if @product.image2.url != nil %>
      <div class="img"><%= image_tag @product.image2.url.to_s %></div><br>
  <% end %>
  <% if @product.image3.url != nil %>
      <div class="img"><%= image_tag @product.image3.url.to_s %></div><br>
  <% end %>
  <% if @product.image.url != nil %>
      <div class="img"><%= image_tag @product.image3.url.to_s %></div><br>
  <% end %>
</p>
<% end %>

<p>
  <strong>Immediate price:</strong>
  <% if @product.immediate_price != nil %>
      <%= @product.immediate_price %> €
      <% if logged_in? && @product.status == 'In selling' && current_user.id != @product.user_id %>
          <%= button_to 'Purchase', purchase_path(@product), method: :post, class: "btn btn-large btn-primary" %>
      <% end %>
  <% else %>
      empty
  <% end %>
</p>

<p>
  <strong>Date bidding end:</strong>
  <%= @product.date_bidding_end %>
</p>

<p>
  <strong>Date bidding start:</strong>
  <% if @product.status == 'In selling' %>
      <%= @product.date_bidding_start %>
  <% else %>Product not confirm<% end %>
</p>

<p>
  <strong>Bidding time left:</strong>
  <% if @product.date_bidding_end - Time.now > 0 && @product.status == 'In selling' %>
      <%= distance_of_time_in_words(@product.date_bidding_end - Time.now) %>
  <% else %>
      Bid is over <% if @product.status == 'unsold' %><% button_to 'Seven more days', more_days_path(@product), class: "btn btn-large btn-primary" %>
      <% end %>
  <% end %>
</p>

<p>
  <strong>Start price:</strong>
  <%= @product.start_price %> €
</p>

<p>
  <strong>Minimum bid:</strong>
  <%= @product.minimum_bid %> €
</p>

<p>
  <strong>Bid:</strong>
  <% if @product.bids.length == 0 %>
      No bid
  <% else %>
      <%= @product.bid_in_progress(@product) %> €
  <% end %>
  <% if logged_in? && Time.now < @product.date_bidding_end && @product.status == 'In selling' &&
      @product.user_id != current_user.id && (@product.bids.length ==0 || @product.bid_winner(@product).user_id != current_user.id) %>
      <%= form_tag new_minimum_bid_path(@product.id) do %>
          <%= submit_tag 'Add minimum bid', class: "btn btn-large btn-primary" %>
      <% end %>
      <%= form_tag new_custom_bid_path(@product.id) do %>
          <%= number_field_tag :bid, class: 'form-control' %>
          <%= submit_tag 'Add custom bid', class: "btn btn-large btn-primary" %>
      <% end %>
      <%= form_tag new_max_automatic_bid_path(@product.id) do %>
          <%= number_field_tag :bid %>
          <%= submit_tag 'Add max automatic bid', class: "btn btn-large btn-primary" %>
      <% end %>
  <% end %>
  <% if logged_in? && @product.bids.length != 0 && @product.bid_winner(@product).user_id == current_user.id &&
      @product.status == 'In selling' %>This bid is your
  <% elsif logged_in? && @product.user_id == current_user.id %>This is your product
  <% end %>
  <% if logged_in? && @product.status == 'sold' && @product.bid_winner(@product).user_id == current_user.id %>
      <%= button_to 'Pay ' + @product.title, pay_path(@product, @product.bid_id(@product)), method: :post, class: "btn btn-large btn-primary" %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Views:</strong>
  <%= @product.views %>
</p>

<p>
  <strong>Rate:</strong>
  <% if @product.evaluations.length != 0 %>
      <% note = 0 %>
      <% @product.evaluations.each do |evaluation| %>
          <% note += evaluation.rate %>
      <% end %>
      <%= note.round(2) / @product.evaluations.length %> / 5
  <% else %>
      empty
  <% end %>
</p>

<% if logged_in? && current_user.admin? %>
    <p><strong>Status:</strong>
      <%= @product.status %>
      <% if @product.status == 'wait_confirmation' %>
          <%= button_to 'Confirm', confirm_path(@product.id), class: "btn btn-large btn-primary" %><%= button_to 'Not confirm', not_confirm_path(@product.id), class: "btn btn-large btn-primary" %>
      <% end %>
    </p>
<% end %>

<p>
  <strong>Evaluations:</strong>
  <% if @product.evaluations.length != 0 %>
    <ul>
      <% @product.evaluations.each do |evaluation| %>
          <li><strong>Author:</strong><% if logged_in? && current_user.admin? %><%= link_to evaluation.author_name, user_path(evaluation.user_id) %>
                <% else %><%= link_to evaluation.author_nickname, user_path(evaluation.user_id) %><% end %>
            <strong> Note: </strong><%= evaluation.rate %> / 5 <strong>
            Comment:</strong> <%= evaluation.content %></li>
      <% end %>
    </ul>
<% else %>
    empty
<% end %>
</p>

<%= form_tag recommend_path, method: :get do %>
    <%= hidden_field_tag :product_id, @product.id %>
    <%= email_field_tag :email %>
    <%= submit_tag 'Recommend product', class: "btn btn-large btn-primary" %>
<% end %>

<div id="fb-root"></div>
<div class="fb-share-button" data-layout="button_count" data-mobile-iframe="true"></div>

<% if logged_in? &&(current_user.id != @product.user_id || current_user.admin?) %>
    <%= link_to 'Add evaluation', new_eval_path('Product', @product), class: "btn btn-large btn-primary" %>
<% end %>  
<% if logged_in? && current_user.id != @product.user_id %>  
    <%= link_to 'Ask question' , message_new_path(@product.user_id), class: "btn btn-large btn-primary" %>
<% end %>
<% if logged_in? && ((current_user.id == @product.user_id && @product.bids.length == 0 &&
    @product.date_bidding_end > Time.now) || current_user.admin?) %>
    <%= link_to 'Edit product', edit_product_path(@product), class: "btn btn-large btn-primary" %>
    <%= link_to 'Remove product', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-large btn-primary" %>
<% end %>
<%= link_to 'Back to products list', products_path, class: "btn btn-large btn-primary" %>
