<!DOCTYPE html>
<html>
<head>
  <title>MyEbayApp</title>
  <%= stylesheet_link_tag    'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/navigation' %> 

  <%= yield %>

</body>
</html>
